.card-style:hover {
    transform: scale(1.10);
    box-shadow: 0 13px 40px -5px hsla(240, 11%, 63%, 0.12),
      0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
      0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
      /* transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22); */
      transition: 0.7s;
  }
  .card-style{
    box-shadow: 5px 5px 5px 4px rgba(45, 25, 25, 0.25) !important;
  }
  